div {
  border: 1px solid #222;
  margin: 20px;
  padding: 15px;

}

#container {
  width: 600px;
  border: none;
}

#description {
  border-radius: 20px 20px 0px 0px;
}

#package {
  border-radius: 0px 0px 20px 20px;
}

table,
th,
td {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

th,
td {
  padding: 10px 20px;
}

table {
  margin-bottom: 10px;
  margin-left: 10px;
}